.card {
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 60px;
  margin: 10px;
  box-shadow: 5px 5px 25px -4px rgba(0,0,0,0.75);


}
